{% extends 'accueil/accueil.html.twig' %}
{% block content %}
    <!--================ Start Home Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
			<div class="container">
				<div class="banner_content text-left">
					<div class="page_link">
						<a href="index.html">{{'translate.link1'|trans}}</a>
						<a href="contact.html">{{'translate.link2'|trans}}</a>
					</div>
					<h2>{{'translate_contact.link1'|trans}}</h2>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Pricing Banner Area =================-->
	
	<!--================Contact Area =================-->
	<section class="contact_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<i class="lnr lnr-home"></i>
							<h6>Amiens, France</h6>
							<p>{{'translate_contact.link4'|trans}}</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-phone-handset"></i>
							<h6><a href="#">01 22 33 44 55</a></h6>
							<p>{{'translate_contact.link2'|trans}}</p>
						</div>
						<div class="info_item">
							<i class="lnr lnr-envelope"></i>
							<h6><a href="#">support@dreambank.com</a></h6>
							<p>{{'translate_contact.link3'|trans}}</p>
						</div>
					</div>
				</div>
				<div class="col-lg-9">
					<form class="row contact_form" action="{{asset('contact_process.php')}}" method="post" id="contactForm" novalidate="novalidate">
						<div class="col-md-6">
							<div class="form-group">
								<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
							</div>
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
							</div>
							<div class="form-group">
								<input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<textarea class="form-control" name="message" id="message" rows="1" placeholder="Enter Message"></textarea>
							</div>
						</div>
						<div class="col-md-12 text-right">
							<button type="submit" value="submit" class="primary_btn"><span>{{'translate_contact.link5'|trans}}</span></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--================Contact Area =================-->
{% endblock %}