{% extends 'accueil/accueil.html.twig' %}
{% block content %}

	<!--================Home Banner Area =================-->
	<section class="banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background=""></div>
			<div class="container">
				<div class="banner_content text-center">
					<h2>{{'translate.link17'|trans}}</h2>
					<div class="page_link">
						<a href="index.html">{{'translate_notice.link1'|trans}}</a>
						<a href="about-us.html">{{'translate.link17'|trans}}</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Home Banner Area =================-->
	
	<!--================Start Features Area =================-->
	<section class="contact_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<h6>{{'translate_notice.link1'|trans}}</h6>
							<p>DREAMBANK (SAS)</p>
						</div>
						<div class="info_item">
							<h6>{{'translate_notice.link2'|trans}}</h6>
							<p>22 Pronston's street
							<br>
							Los-Angeles, California, USA</p>
						</div>
						<div class="info_item">
							<h6>{{'translate_notice.link3'|trans}}</h6>
							<p>Mr Ray Williams</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<h6>{{'translate_notice.link4'|trans}}</h6>
							<p>0122334422</p>
						</div>
						<div class="info_item">
							<h6>{{'translate_notice.link5'|trans}}</h6>
							<p>support@dreambank.com</p>
						</div>
						<div class="info_item">
							<h6>{{'translate_notice.link6'|trans}}</h6>
							<p>111 222 333 444455</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<h6>{{'translate_notice.link7'|trans}}</h6>
							<p>111 333 222</p>
						</div>
						<div class="info_item">
							<h6>{{'translate_notice.link8'|trans}}</h6>
							<p>400 320 000 $</p>
						</div>
						<div class="info_item">
							<h6>{{'translate_notice.link9'|trans}}</h6>
							<p>XXXXXXX</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="contact_info">
						<div class="info_item">
							<h6>{{'translate_notice.link10'|trans}}</h6>
							<p>111 333 222</p>
						</div>
						<div class="info_item">
							<h6>{{'translate_notice.link11'|trans}}</h6>
							<p>XX XXXXX street </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}